<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<a href="{% static 'portfolio/resume.pdf' %}">Резюме</a>
<br>
<a href="{% url 'blog' %}">Блог</a>
<h1>Моё портфолио</h1>

<img src="{% static 'portfolio/images/1.png' %}" height="600" width="auto">

{% for project in projects %}
    <h2>{{ project.title }}</h2>
    <p>{{ project.discription }}</p>
    <img src="{{ project.image.url }}">
    {% if project.url %}
        <p><a href="{{ project.url }}">Ссылка на git</a></p>
    {% endif %}
    <hr>
{% endfor %}
</body>
</html>